<div class="col-xs-9 mainBody">
  <h1>My Collection</h1>
  <% result.forEach(function(result) {%>
    <div class="well">
      <div class="cardDisplay">
        <img class="cardThumb" src="<%= result.img %>">
      </div>
      <div class="cardDisplay cardInfo">
        <h3 class="displayTitle bold"><%= result.cardName %></h3>
        <p>Set Name: <%= result.setName%></p>
        <p class="capitalized">Rarity: <%= result.rarity %></p>
        <p>Price: $<%= result.price %></p>
        <p class="fp">Updated at: <%= result.updatedAt %></p>
      </div>
      <div class='cardDisplay btn-group-vertical'>
        <form action="/collection/<%= result.id %>" method="put" class="put buttons">
          <input hidden type="text" name="multiverseId" value="<%= result.multiverseId %>">
          <button type="submit" class="btn btn-primary clickables">Update Price</button>
        </form>
        <form class="buttons">
          <a href="/collection/<%=result.id%>" type="submit" class="btn btn-danger remove clickables">Remove</a>
        </form>

        <form action="/trade" method="POST" class="buttons">
          <input hidden type="text" name="name" value="<%= result.cardName%>">
          <input hidden type="text" name="price" value="<%= result.price %>">
          <button class="btn btn-success clickables" type="submit">Add to Trade</button>
        </form>
      </div>
    </div>
    <% });%>
</div>
<div class="col-xs-3 sidebar">
  <h2>Instructions:</h2>
  <p>To get up to the minute prices, press Update Price. </br>To Remove a card from your trade collection, hit Delete</p>
  <p>Collection Value: <span class="value"><%= priceSum %></span></p>
</div>



