<form action="/search/result" method="POST">
  <div class="form-group">
    <label for="name">Card Name</label>
    <input id="name" class="form-control" type="text" name="name" placeholder="Search Card">
    <input class="btn btn-primary" type="submit">
  </div>
</form>

<% results.forEach(function(results){ %>
  <div class="well">
    <img src="<%= results.image_uris.small %>">
    <h2 class="capitalize"><%= results.name %></h2>
    <p>Code: <%= results.set%></p>
    <p>Set Name: <%= results.set_name%></p>

    <div class="prices">
      <p>Price: <%= results.usd%></p>
    </div>
    <div>
      <form method="POST" action="/collection">
        <input hidden type="text" name="name" value="<%= results.id %>">
        <button class="btn btn-primary" type="submit">Add to Collection</button>
      </form>
    </div>
  </div>
<% }); %>

